<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>A.small</key>
	<string>A.small_.glif</string>
	<key>AE</key>
	<string>AE_.glif</string>
	<key>AE.small</key>
	<string>AE.small_.glif</string>
	<key>Aacute</key>
	<string>Aacute_.glif</string>
	<key>Aacute.small</key>
	<string>Aacute.small_.glif</string>
	<key>Acircumflex</key>
	<string>Acircumflex_.glif</string>
	<key>Acircumflex.small</key>
	<string>Acircumflex.small_.glif</string>
	<key>Adieresis</key>
	<string>Adieresis_.glif</string>
	<key>Adieresis.small</key>
	<string>Adieresis.small_.glif</string>
	<key>Agrave</key>
	<string>Agrave_.glif</string>
	<key>Agrave.small</key>
	<string>Agrave.small_.glif</string>
	<key>Aring</key>
	<string>Aring_.glif</string>
	<key>Aring.small</key>
	<string>Aring.small_.glif</string>
	<key>Atilde</key>
	<string>Atilde_.glif</string>
	<key>Atilde.small</key>
	<string>Atilde.small_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>B.small</key>
	<string>B.small_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>C.small</key>
	<string>C.small_.glif</string>
	<key>Ccedilla</key>
	<string>Ccedilla_.glif</string>
	<key>Ccedilla.small</key>
	<string>Ccedilla.small_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>D.small</key>
	<string>D.small_.glif</string>
	<key>Delta</key>
	<string>Delta_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>E.small</key>
	<string>E.small_.glif</string>
	<key>Eacute</key>
	<string>Eacute_.glif</string>
	<key>Eacute.small</key>
	<string>Eacute.small_.glif</string>
	<key>Ecircumflex</key>
	<string>Ecircumflex_.glif</string>
	<key>Ecircumflex.small</key>
	<string>Ecircumflex.small_.glif</string>
	<key>Edieresis</key>
	<string>Edieresis_.glif</string>
	<key>Edieresis.small</key>
	<string>Edieresis.small_.glif</string>
	<key>Egrave</key>
	<string>Egrave_.glif</string>
	<key>Egrave.small</key>
	<string>Egrave.small_.glif</string>
	<key>Eth</key>
	<string>Eth_.glif</string>
	<key>Eth.small</key>
	<string>Eth.small_.glif</string>
	<key>Euro</key>
	<string>Euro_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>F.small</key>
	<string>F.small_.glif</string>
	<key>F_J</key>
	<string>F__J_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>G.small</key>
	<string>G.small_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>H.small</key>
	<string>H.small_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>I.small</key>
	<string>I.small_.glif</string>
	<key>IJ</key>
	<string>IJ_.glif</string>
	<key>IJ.small</key>
	<string>IJ.small_.glif</string>
	<key>Iacute</key>
	<string>Iacute_.glif</string>
	<key>Iacute.small</key>
	<string>Iacute.small_.glif</string>
	<key>Icircumflex</key>
	<string>Icircumflex_.glif</string>
	<key>Icircumflex.small</key>
	<string>Icircumflex.small_.glif</string>
	<key>Idieresis</key>
	<string>Idieresis_.glif</string>
	<key>Idieresis.small</key>
	<string>Idieresis.small_.glif</string>
	<key>Igrave</key>
	<string>Igrave_.glif</string>
	<key>Igrave.small</key>
	<string>Igrave.small_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>J.small</key>
	<string>J.small_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>K.small</key>
	<string>K.small_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>L.small</key>
	<string>L.small_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>M.small</key>
	<string>M.small_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>N.small</key>
	<string>N.small_.glif</string>
	<key>Ntilde</key>
	<string>Ntilde_.glif</string>
	<key>Ntilde.small</key>
	<string>Ntilde.small_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>O.small</key>
	<string>O.small_.glif</string>
	<key>OE</key>
	<string>OE_.glif</string>
	<key>OE.small</key>
	<string>OE.small_.glif</string>
	<key>Oacute</key>
	<string>Oacute_.glif</string>
	<key>Oacute.small</key>
	<string>Oacute.small_.glif</string>
	<key>Ocircumflex</key>
	<string>Ocircumflex_.glif</string>
	<key>Ocircumflex.small</key>
	<string>Ocircumflex.small_.glif</string>
	<key>Odieresis</key>
	<string>Odieresis_.glif</string>
	<key>Odieresis.small</key>
	<string>Odieresis.small_.glif</string>
	<key>Ograve</key>
	<string>Ograve_.glif</string>
	<key>Ograve.small</key>
	<string>Ograve.small_.glif</string>
	<key>Omega</key>
	<string>Omega_.glif</string>
	<key>Oslash</key>
	<string>Oslash_.glif</string>
	<key>Oslash.small</key>
	<string>Oslash.small_.glif</string>
	<key>Otilde</key>
	<string>Otilde_.glif</string>
	<key>Otilde.small</key>
	<string>Otilde.small_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>P.small</key>
	<string>P.small_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>Q.small</key>
	<string>Q.small_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>R.small</key>
	<string>R.small_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>S.small</key>
	<string>S.small_.glif</string>
	<key>S.small_S.small</key>
	<string>S.small__S.small_.glif</string>
	<key>Scaron</key>
	<string>Scaron_.glif</string>
	<key>Scaron.small</key>
	<string>Scaron.small_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>T.small</key>
	<string>T.small_.glif</string>
	<key>Th</key>
	<string>Th_.glif</string>
	<key>Thorn</key>
	<string>Thorn_.glif</string>
	<key>Thorn.small</key>
	<string>Thorn.small_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>U.small</key>
	<string>U.small_.glif</string>
	<key>Uacute</key>
	<string>Uacute_.glif</string>
	<key>Uacute.small</key>
	<string>Uacute.small_.glif</string>
	<key>Ucircumflex</key>
	<string>Ucircumflex_.glif</string>
	<key>Ucircumflex.small</key>
	<string>Ucircumflex.small_.glif</string>
	<key>Udieresis</key>
	<string>Udieresis_.glif</string>
	<key>Udieresis.small</key>
	<string>Udieresis.small_.glif</string>
	<key>Ugrave</key>
	<string>Ugrave_.glif</string>
	<key>Ugrave.small</key>
	<string>Ugrave.small_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>V.small</key>
	<string>V.small_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>W.small</key>
	<string>W.small_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>X.small</key>
	<string>X.small_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Y.small</key>
	<string>Y.small_.glif</string>
	<key>Yacute</key>
	<string>Yacute_.glif</string>
	<key>Yacute.small</key>
	<string>Yacute.small_.glif</string>
	<key>Ydieresis</key>
	<string>Ydieresis_.glif</string>
	<key>Ydieresis.small</key>
	<string>Ydieresis.small_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Z.small</key>
	<string>Z.small_.glif</string>
	<key>Zcaron</key>
	<string>Zcaron_.glif</string>
	<key>Zcaron.small</key>
	<string>Zcaron.small_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.alt</key>
	<string>a.alt.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>aacute.alt</key>
	<string>aacute.alt.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acircumflex.alt</key>
	<string>acircumflex.alt.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>acute.cap</key>
	<string>acute.cap.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>adieresis.alt</key>
	<string>adieresis.alt.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>ae.alt</key>
	<string>ae.alt.glif</string>
	<key>afii61352</key>
	<string>afii61352.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>agrave.alt</key>
	<string>agrave.alt.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>aring.alt</key>
	<string>aring.alt.glif</string>
	<key>arrowdown</key>
	<string>arrowdown.glif</string>
	<key>arrowdownleft</key>
	<string>arrowdownleft.glif</string>
	<key>arrowdownright</key>
	<string>arrowdownright.glif</string>
	<key>arrowleft</key>
	<string>arrowleft.glif</string>
	<key>arrowright</key>
	<string>arrowright.glif</string>
	<key>arrowup</key>
	<string>arrowup.glif</string>
	<key>arrowupleft</key>
	<string>arrowupleft.glif</string>
	<key>arrowupright</key>
	<string>arrowupright.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>asuperior</key>
	<string>asuperior.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>atilde.alt</key>
	<string>atilde.alt.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bsuperior</key>
	<string>bsuperior.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>bullet.cap</key>
	<string>bullet.cap.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>caron.cap</key>
	<string>caron.cap.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>circumflex.cap</key>
	<string>circumflex.cap.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>csuperior</key>
	<string>csuperior.glif</string>
	<key>ct</key>
	<string>ct.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>dieresis.cap</key>
	<string>dieresis.cap.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>dsuperior</key>
	<string>dsuperior.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eightinferior</key>
	<string>eightinferior.glif</string>
	<key>eightlining</key>
	<string>eightlining.glif</string>
	<key>eightprop</key>
	<string>eightprop.glif</string>
	<key>eightsuperior</key>
	<string>eightsuperior.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>emdash.cap</key>
	<string>emdash.cap.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>endash.cap</key>
	<string>endash.cap.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>esuperior</key>
	<string>esuperior.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclam.small</key>
	<string>exclam.small.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>exclamdown.cap</key>
	<string>exclamdown.cap.glif</string>
	<key>exclamdown.small</key>
	<string>exclamdown.small.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>fb</key>
	<string>fb.glif</string>
	<key>ff</key>
	<string>ff.glif</string>
	<key>ffb</key>
	<string>ffb.glif</string>
	<key>ffh</key>
	<string>ffh.glif</string>
	<key>ffi</key>
	<string>ffi.glif</string>
	<key>ffj</key>
	<string>ffj.glif</string>
	<key>ffk</key>
	<string>ffk.glif</string>
	<key>ffl</key>
	<string>ffl.glif</string>
	<key>fft</key>
	<string>fft.glif</string>
	<key>fh</key>
	<string>fh.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>fiveeighths</key>
	<string>fiveeighths.glif</string>
	<key>fiveinferior</key>
	<string>fiveinferior.glif</string>
	<key>fivelining</key>
	<string>fivelining.glif</string>
	<key>fiveprop</key>
	<string>fiveprop.glif</string>
	<key>fivesuperior</key>
	<string>fivesuperior.glif</string>
	<key>fj</key>
	<string>fj.glif</string>
	<key>fk</key>
	<string>fk.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>fourinferior</key>
	<string>fourinferior.glif</string>
	<key>fourlining</key>
	<string>fourlining.glif</string>
	<key>fourprop</key>
	<string>fourprop.glif</string>
	<key>foursuperior</key>
	<string>foursuperior.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>fsuperior</key>
	<string>fsuperior.glif</string>
	<key>ft</key>
	<string>ft.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.alt</key>
	<string>g.alt.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>grave.cap</key>
	<string>grave.cap.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>gsuperior</key>
	<string>gsuperior.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotleft.cap</key>
	<string>guillemotleft.cap.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guillemotright.cap</key>
	<string>guillemotright.cap.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglleft.cap</key>
	<string>guilsinglleft.cap.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>guilsinglright.cap</key>
	<string>guilsinglright.cap.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hsuperior</key>
	<string>hsuperior.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>hyphen.cap</key>
	<string>hyphen.cap.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>integral</key>
	<string>integral.glif</string>
	<key>isuperior</key>
	<string>isuperior.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>jsuperior</key>
	<string>jsuperior.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>ksuperior</key>
	<string>ksuperior.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>lsuperior</key>
	<string>lsuperior.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>msuperior</key>
	<string>msuperior.glif</string>
	<key>mu</key>
	<string>mu.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nineinferior</key>
	<string>nineinferior.glif</string>
	<key>ninelining</key>
	<string>ninelining.glif</string>
	<key>nineprop</key>
	<string>nineprop.glif</string>
	<key>ninesuperior</key>
	<string>ninesuperior.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>nsuperior</key>
	<string>nsuperior.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>oneeighth</key>
	<string>oneeighth.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>oneinferior</key>
	<string>oneinferior.glif</string>
	<key>onelining</key>
	<string>onelining.glif</string>
	<key>oneprop</key>
	<string>oneprop.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>onesuperior</key>
	<string>onesuperior.glif</string>
	<key>onethird</key>
	<string>onethird.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>osuperior</key>
	<string>osuperior.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenleftinferior</key>
	<string>parenleftinferior.glif</string>
	<key>parenleftsuperior</key>
	<string>parenleftsuperior.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>parenrightinferior</key>
	<string>parenrightinferior.glif</string>
	<key>parenrightsuperior</key>
	<string>parenrightsuperior.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>pi</key>
	<string>pi.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>product</key>
	<string>product.glif</string>
	<key>psuperior</key>
	<string>psuperior.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>qsuperior</key>
	<string>qsuperior.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>question.small</key>
	<string>question.small.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>questiondown.cap</key>
	<string>questiondown.cap.glif</string>
	<key>questiondown.small</key>
	<string>questiondown.small.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>ring.cap</key>
	<string>ring.cap.glif</string>
	<key>rsuperior</key>
	<string>rsuperior.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seveneighths</key>
	<string>seveneighths.glif</string>
	<key>seveninferior</key>
	<string>seveninferior.glif</string>
	<key>sevenlining</key>
	<string>sevenlining.glif</string>
	<key>sevenprop</key>
	<string>sevenprop.glif</string>
	<key>sevensuperior</key>
	<string>sevensuperior.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>sixinferior</key>
	<string>sixinferior.glif</string>
	<key>sixlining</key>
	<string>sixlining.glif</string>
	<key>sixprop</key>
	<string>sixprop.glif</string>
	<key>sixsuperior</key>
	<string>sixsuperior.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>ssuperior</key>
	<string>ssuperior.glif</string>
	<key>st</key>
	<string>st.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>summation</key>
	<string>summation.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>threeeighths</key>
	<string>threeeighths.glif</string>
	<key>threeinferior</key>
	<string>threeinferior.glif</string>
	<key>threelining</key>
	<string>threelining.glif</string>
	<key>threeprop</key>
	<string>threeprop.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>threesuperior</key>
	<string>threesuperior.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>tilde.cap</key>
	<string>tilde.cap.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>tsuperior</key>
	<string>tsuperior.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>twoinferior</key>
	<string>twoinferior.glif</string>
	<key>twolining</key>
	<string>twolining.glif</string>
	<key>twoprop</key>
	<string>twoprop.glif</string>
	<key>twosuperior</key>
	<string>twosuperior.glif</string>
	<key>twothirds</key>
	<string>twothirds.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni2460</key>
	<string>uni2460.glif</string>
	<key>uni2461</key>
	<string>uni2461.glif</string>
	<key>uni2462</key>
	<string>uni2462.glif</string>
	<key>uni2463</key>
	<string>uni2463.glif</string>
	<key>uni2464</key>
	<string>uni2464.glif</string>
	<key>uni2465</key>
	<string>uni2465.glif</string>
	<key>uni2466</key>
	<string>uni2466.glif</string>
	<key>uni2467</key>
	<string>uni2467.glif</string>
	<key>uni2468</key>
	<string>uni2468.glif</string>
	<key>uni24EA</key>
	<string>uni24EA_.glif</string>
	<key>uni261C</key>
	<string>uni261C_.glif</string>
	<key>uni261E</key>
	<string>uni261E_.glif</string>
	<key>usuperior</key>
	<string>usuperior.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>vsuperior</key>
	<string>vsuperior.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>wsuperior</key>
	<string>wsuperior.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>xsuperior</key>
	<string>xsuperior.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>y.alt</key>
	<string>y.alt.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>yacute.alt</key>
	<string>yacute.alt.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>ydieresis.alt</key>
	<string>ydieresis.alt.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>ysuperior</key>
	<string>ysuperior.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zeroinferior</key>
	<string>zeroinferior.glif</string>
	<key>zerolining</key>
	<string>zerolining.glif</string>
	<key>zeroliningslash</key>
	<string>zeroliningslash.glif</string>
	<key>zeroprop</key>
	<string>zeroprop.glif</string>
	<key>zeropropslash</key>
	<string>zeropropslash.glif</string>
	<key>zeroslash</key>
	<string>zeroslash.glif</string>
	<key>zerosuperior</key>
	<string>zerosuperior.glif</string>
	<key>zsuperior</key>
	<string>zsuperior.glif</string>
</dict>
</plist>
