<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>750</integer>
	<key>capHeight</key>
	<integer>700</integer>
	<key>copyright</key>
	<string>Font designed by Loic Sander, 2012. Distributed under the terms of the SIL OFL Licence. Free for commercial use. This font file can me modified at will under the conditions that any modification made is identified as a modifed version and the author named in the file-name or accompanying info. No modified version can be distributed without notice that it isn’t the original file.</string>
	<key>descender</key>
	<integer>-250</integer>
	<key>familyName</key>
	<string>Fengardo Redux</string>
	<key>italicAngle</key>
	<real>0.0</real>
	<key>openTypeHeadLowestRecPPEM</key>
	<integer>9</integer>
	<key>openTypeNameDesigner</key>
	<string>Loic Sander</string>
	<key>openTypeNameDesignerURL</key>
	<string>www.akalollip.com</string>
	<key>openTypeNameLicense</key>
	<string>Free font licensed under SIL OFL Licence // Attribution-NonCommercial-ShareAlike CC BY-NC-SA

This license lets others remix, tweak, and build upon this typeface non-commercially, as long as you credit the type designer and license their new creations under the identical terms.

Commercial means to sell the typeface by itself, as a file or on any device such as, for instance, USB keys, CD-ROM, etc.</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&amp;id=OFL</string>
	<key>openTypeNameManufacturer</key>
	<string></string>
	<key>openTypeOS2CodePageRanges</key>
	<array>
		<integer>29</integer>
	</array>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>2</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>250</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>50</integer>
	<key>openTypeOS2SubscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptXSize</key>
	<integer>700</integer>
	<key>openTypeOS2SubscriptYOffset</key>
	<integer>140</integer>
	<key>openTypeOS2SubscriptYSize</key>
	<integer>650</integer>
	<key>openTypeOS2SuperscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptXSize</key>
	<integer>700</integer>
	<key>openTypeOS2SuperscriptYOffset</key>
	<integer>477</integer>
	<key>openTypeOS2SuperscriptYSize</key>
	<integer>650</integer>
	<key>openTypeOS2Type</key>
	<array>
	</array>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>5</integer>
		<integer>7</integer>
		<integer>31</integer>
		<integer>32</integer>
		<integer>33</integer>
		<integer>35</integer>
		<integer>36</integer>
		<integer>38</integer>
		<integer>45</integer>
		<integer>62</integer>
	</array>
	<key>openTypeOS2VendorID</key>
	<string>pyrs</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>850</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>350</integer>
	<key>postscriptBlueFuzz</key>
	<integer>2</integer>
	<key>postscriptBlueScale</key>
	<real>0.047958</real>
	<key>postscriptBlueShift</key>
	<integer>7</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-15</integer>
		<integer>0</integer>
		<integer>485</integer>
		<integer>500</integer>
		<integer>700</integer>
		<integer>715</integer>
		<integer>720</integer>
		<integer>735</integer>
	</array>
	<key>postscriptDefaultWidthX</key>
	<integer>500</integer>
	<key>postscriptFamilyBlues</key>
	<array>
		<integer>-10</integer>
		<integer>0</integer>
		<integer>475</integer>
		<integer>485</integer>
		<integer>660</integer>
		<integer>670</integer>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
		<integer>-290</integer>
		<integer>-280</integer>
	</array>
	<key>postscriptForceBold</key>
	<false/>
	<key>postscriptIsFixedPitch</key>
	<false/>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-245</integer>
		<integer>-230</integer>
	</array>
	<key>postscriptSlantAngle</key>
	<real>-0.0</real>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>50</integer>
		<integer>65</integer>
		<integer>70</integer>
		<integer>75</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>65</integer>
		<integer>85</integer>
		<integer>90</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-100</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>65</integer>
	<key>postscriptUniqueID</key>
	<integer>-1</integer>
	<key>postscriptWindowsCharacterSet</key>
	<integer>1</integer>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>trademark</key>
	<string></string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>3</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>485</integer>
	<key>year</key>
	<integer>2012</integer>
</dict>
</plist>
