<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.metrx_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>agrave</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
	</array>
	<key>.mtrx_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Agrave</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Atilde</string>
		<string>Aring</string>
	</array>
	<key>.mtrx_A.small</key>
	<array>
		<string>A.small</string>
		<string>Aacute.small</string>
		<string>Agrave.small</string>
		<string>Acircumflex.small</string>
		<string>Adieresis.small</string>
		<string>Atilde.small</string>
		<string>Aring.small</string>
	</array>
	<key>.mtrx_C</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
	</array>
	<key>.mtrx_C.small</key>
	<array>
		<string>C.small</string>
		<string>Ccedilla.small</string>
	</array>
	<key>.mtrx_E</key>
	<array>
		<string>E</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
	</array>
	<key>.mtrx_E.small</key>
	<array>
		<string>E.small</string>
		<string>Eacute.small</string>
		<string>Egrave.small</string>
		<string>Ecircumflex.small</string>
		<string>Edieresis.small</string>
	</array>
	<key>.mtrx_G</key>
	<array>
		<string>G</string>
	</array>
	<key>.mtrx_G.small</key>
	<array>
		<string>G.small</string>
	</array>
	<key>.mtrx_I</key>
	<array>
		<string>I</string>
		<string>Iacute</string>
		<string>Igrave</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>IJ</string>
	</array>
	<key>.mtrx_I.small</key>
	<array>
		<string>I.small</string>
		<string>Iacute.small</string>
		<string>Igrave.small</string>
		<string>Icircumflex.small</string>
		<string>Idieresis.small</string>
	</array>
	<key>.mtrx_J</key>
	<array>
		<string>J</string>
	</array>
	<key>.mtrx_N</key>
	<array>
		<string>N</string>
		<string>Ntilde</string>
	</array>
	<key>.mtrx_N.small</key>
	<array>
		<string>N.small</string>
		<string>Ntilde.small</string>
	</array>
	<key>.mtrx_O</key>
	<array>
		<string>O</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
	</array>
	<key>.mtrx_O.small</key>
	<array>
		<string>O.small</string>
		<string>Oacute.small</string>
		<string>Ograve.small</string>
		<string>Ocircumflex.small</string>
		<string>Odieresis.small</string>
		<string>Otilde.small</string>
	</array>
	<key>.mtrx_R</key>
	<array>
		<string>R</string>
	</array>
	<key>.mtrx_R.small</key>
	<array>
		<string>R.small</string>
	</array>
	<key>.mtrx_S</key>
	<array>
		<string>S</string>
		<string>Scaron</string>
		<string>dollar</string>
	</array>
	<key>.mtrx_S.small</key>
	<array>
		<string>S.small</string>
		<string>Scaron.small</string>
	</array>
	<key>.mtrx_T</key>
	<array>
		<string>T</string>
	</array>
	<key>.mtrx_T.small</key>
	<array>
		<string>T.small</string>
	</array>
	<key>.mtrx_U</key>
	<array>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
	</array>
	<key>.mtrx_U.small</key>
	<array>
		<string>U.small</string>
		<string>Uacute.small</string>
		<string>Ugrave.small</string>
		<string>Ucircumflex.small</string>
		<string>Udieresis.small</string>
	</array>
	<key>.mtrx_VW.small</key>
	<array>
		<string>V.small</string>
		<string>W.small</string>
	</array>
	<key>.mtrx_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>.mtrx_Y.small</key>
	<array>
		<string>Y.small</string>
		<string>Yacute.small</string>
		<string>Ydieresis.small</string>
	</array>
	<key>.mtrx_Z</key>
	<array>
		<string>Z</string>
		<string>Zcaron</string>
	</array>
	<key>.mtrx_Z.small</key>
	<array>
		<string>Z.small</string>
		<string>Zcaron.small</string>
	</array>
	<key>.mtrx_c</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
		<string>cent</string>
	</array>
	<key>.mtrx_e</key>
	<array>
		<string>e</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
	</array>
	<key>.mtrx_f</key>
	<array>
		<string>f</string>
		<string>fi</string>
		<string>ff</string>
		<string>fl</string>
		<string>ffi</string>
		<string>ffl</string>
		<string>fb</string>
		<string>ffb</string>
		<string>fk</string>
		<string>ffk</string>
		<string>fh</string>
		<string>ffh</string>
		<string>fj</string>
		<string>ffj</string>
		<string>ft</string>
		<string>fft</string>
		<string>germandbls</string>
	</array>
	<key>.mtrx_g</key>
	<array>
		<string>g</string>
	</array>
	<key>.mtrx_i</key>
	<array>
		<string>i</string>
		<string>iacute</string>
		<string>igrave</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>dotlessi</string>
	</array>
	<key>.mtrx_n</key>
	<array>
		<string>n</string>
		<string>ntilde</string>
	</array>
	<key>.mtrx_o</key>
	<array>
		<string>o</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
	</array>
	<key>.mtrx_r</key>
	<array>
		<string>r</string>
	</array>
	<key>.mtrx_s</key>
	<array>
		<string>s</string>
		<string>scaron</string>
	</array>
	<key>.mtrx_u</key>
	<array>
		<string>u</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>mu</string>
	</array>
	<key>.mtrx_vwy</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>y</string>
		<string>ydieresis</string>
		<string>yacute</string>
	</array>
	<key>.mtrx_z</key>
	<array>
		<string>z</string>
		<string>zcaron</string>
	</array>
	<key>_kern_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Agrave</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Atilde</string>
		<string>Aring</string>
	</array>
	<key>_kern_A.small</key>
	<array>
		<string>A.small</string>
		<string>Aacute.small</string>
		<string>Agrave.small</string>
		<string>Acircumflex.small</string>
		<string>Adieresis.small</string>
		<string>Atilde.small</string>
		<string>Aring.small</string>
	</array>
	<key>_kern_C</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
	</array>
	<key>_kern_C.small</key>
	<array>
		<string>C.small</string>
		<string>Ccedilla.small</string>
	</array>
	<key>_kern_D</key>
	<array>
		<string>D</string>
		<string>Eth</string>
	</array>
	<key>_kern_D.small</key>
	<array>
		<string>D.small</string>
		<string>Eth.small</string>
	</array>
	<key>_kern_E.small</key>
	<array>
		<string>E.small</string>
		<string>Eacute.small</string>
		<string>Egrave.small</string>
		<string>Ecircumflex.small</string>
		<string>Edieresis.small</string>
	</array>
	<key>_kern_G</key>
	<array>
		<string>G</string>
	</array>
	<key>_kern_G.small</key>
	<array>
		<string>G.small</string>
	</array>
	<key>_kern_I.small</key>
	<array>
		<string>I.small</string>
		<string>Iacute.small</string>
		<string>Igrave.small</string>
		<string>Icircumflex.small</string>
		<string>Idieresis.small</string>
	</array>
	<key>_kern_J</key>
	<array>
		<string>J</string>
	</array>
	<key>_kern_J.small</key>
	<array>
		<string>J.small</string>
	</array>
	<key>_kern_L</key>
	<array>
		<string>L</string>
	</array>
	<key>_kern_L.small</key>
	<array>
		<string>L.small</string>
	</array>
	<key>_kern_N.small</key>
	<array>
		<string>N.small</string>
		<string>Ntilde.small</string>
	</array>
	<key>_kern_O</key>
	<array>
		<string>O</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Oslash</string>
	</array>
	<key>_kern_O.small</key>
	<array>
		<string>O.small</string>
		<string>Oacute.small</string>
		<string>Ograve.small</string>
		<string>Ocircumflex.small</string>
		<string>Odieresis.small</string>
		<string>Otilde.small</string>
		<string>Oslash.small</string>
	</array>
	<key>_kern_P</key>
	<array>
		<string>P</string>
	</array>
	<key>_kern_R</key>
	<array>
		<string>R</string>
	</array>
	<key>_kern_R.small</key>
	<array>
		<string>R.small</string>
	</array>
	<key>_kern_S</key>
	<array>
		<string>S</string>
		<string>Scaron</string>
	</array>
	<key>_kern_T</key>
	<array>
		<string>T</string>
	</array>
	<key>_kern_T.small</key>
	<array>
		<string>T.small</string>
	</array>
	<key>_kern_U.small</key>
	<array>
		<string>U.small</string>
		<string>Uacute.small</string>
		<string>Ugrave.small</string>
		<string>Ucircumflex.small</string>
		<string>Udieresis.small</string>
	</array>
	<key>_kern_VW</key>
	<array>
		<string>V</string>
		<string>W</string>
	</array>
	<key>_kern_VW.small</key>
	<array>
		<string>V.small</string>
		<string>W.small</string>
	</array>
	<key>_kern_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>_kern_Y.small</key>
	<array>
		<string>Y.small</string>
		<string>Yacute.small</string>
		<string>Ydieresis.small</string>
	</array>
	<key>_kern_Z</key>
	<array>
		<string>Z</string>
		<string>Zcaron</string>
	</array>
	<key>_kern_Z.small</key>
	<array>
		<string>Z.small</string>
		<string>Zcaron.small</string>
	</array>
	<key>_kern_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>agrave</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
	</array>
	<key>_kern_c</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
		<string>cent</string>
	</array>
	<key>_kern_d</key>
	<array>
		<string>d</string>
	</array>
	<key>_kern_e</key>
	<array>
		<string>e</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
	</array>
	<key>_kern_f</key>
	<array>
		<string>f</string>
		<string>ff</string>
	</array>
	<key>_kern_fi</key>
	<array>
		<string>f</string>
		<string>fi</string>
		<string>fl</string>
		<string>ff</string>
		<string>ffi</string>
		<string>ffl</string>
		<string>fb</string>
		<string>ffb</string>
		<string>fh</string>
		<string>ffh</string>
		<string>fk</string>
		<string>ffk</string>
		<string>fj</string>
		<string>ffj</string>
		<string>ft</string>
		<string>fft</string>
	</array>
	<key>_kern_g</key>
	<array>
		<string>g</string>
	</array>
	<key>_kern_ij</key>
	<array>
		<string>i</string>
		<string>iacute</string>
		<string>igrave</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>dotlessi</string>
		<string>j</string>
	</array>
	<key>_kern_n</key>
	<array>
		<string>n</string>
		<string>ntilde</string>
	</array>
	<key>_kern_o</key>
	<array>
		<string>o</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>oe</string>
		<string>oslash</string>
	</array>
	<key>_kern_punkt</key>
	<array>
		<string>period</string>
		<string>comma</string>
	</array>
	<key>_kern_r</key>
	<array>
		<string>r</string>
	</array>
	<key>_kern_s</key>
	<array>
		<string>s</string>
		<string>scaron</string>
	</array>
	<key>_kern_u</key>
	<array>
		<string>u</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>mu</string>
	</array>
	<key>_kern_vwy</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>_kern_z</key>
	<array>
		<string>z</string>
		<string>zcaron</string>
	</array>
	<key>lowercase</key>
	<array>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
	</array>
	<key>lowercasesuperior</key>
	<array>
		<string>asuperior</string>
		<string>bsuperior</string>
		<string>csuperior</string>
		<string>dsuperior</string>
		<string>esuperior</string>
		<string>fsuperior</string>
		<string>gsuperior</string>
		<string>hsuperior</string>
		<string>isuperior</string>
		<string>jsuperior</string>
		<string>ksuperior</string>
		<string>lsuperior</string>
		<string>msuperior</string>
		<string>nsuperior</string>
		<string>osuperior</string>
		<string>psuperior</string>
		<string>qsuperior</string>
		<string>rsuperior</string>
		<string>ssuperior</string>
		<string>tsuperior</string>
		<string>usuperior</string>
		<string>vsuperior</string>
		<string>wsuperior</string>
		<string>xsuperior</string>
		<string>ysuperior</string>
		<string>zsuperior</string>
	</array>
	<key>onum</key>
	<array>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
	</array>
	<key>pnum</key>
	<array>
		<string>zeroprop</string>
		<string>oneprop</string>
		<string>twoprop</string>
		<string>threeprop</string>
		<string>fourprop</string>
		<string>fiveprop</string>
		<string>sixprop</string>
		<string>sevenprop</string>
		<string>eightprop</string>
		<string>nineprop</string>
	</array>
	<key>smcp1</key>
	<array>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>ae</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>ntilde</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>oe</string>
		<string>oslash</string>
		<string>scaron</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>zcaron</string>
		<string>exclam</string>
		<string>question</string>
		<string>eth</string>
		<string>thorn</string>
		<string>questiondown</string>
		<string>exclamdown</string>
	</array>
	<key>smcp2</key>
	<array>
		<string>A.small</string>
		<string>B.small</string>
		<string>C.small</string>
		<string>D.small</string>
		<string>E.small</string>
		<string>F.small</string>
		<string>G.small</string>
		<string>H.small</string>
		<string>I.small</string>
		<string>J.small</string>
		<string>K.small</string>
		<string>L.small</string>
		<string>M.small</string>
		<string>N.small</string>
		<string>O.small</string>
		<string>P.small</string>
		<string>Q.small</string>
		<string>R.small</string>
		<string>S.small</string>
		<string>T.small</string>
		<string>U.small</string>
		<string>V.small</string>
		<string>W.small</string>
		<string>X.small</string>
		<string>Y.small</string>
		<string>Z.small</string>
		<string>Agrave.small</string>
		<string>Aacute.small</string>
		<string>Acircumflex.small</string>
		<string>Atilde.small</string>
		<string>Adieresis.small</string>
		<string>Aring.small</string>
		<string>AE.small</string>
		<string>Ccedilla.small</string>
		<string>Egrave.small</string>
		<string>Eacute.small</string>
		<string>Ecircumflex.small</string>
		<string>Edieresis.small</string>
		<string>Igrave.small</string>
		<string>Iacute.small</string>
		<string>Icircumflex.small</string>
		<string>Idieresis.small</string>
		<string>Ntilde.small</string>
		<string>Ograve.small</string>
		<string>Oacute.small</string>
		<string>Ocircumflex.small</string>
		<string>Otilde.small</string>
		<string>Odieresis.small</string>
		<string>OE.small</string>
		<string>Oslash.small</string>
		<string>Scaron.small</string>
		<string>Uacute.small</string>
		<string>Ucircumflex.small</string>
		<string>Udieresis.small</string>
		<string>Ugrave.small</string>
		<string>Yacute.small</string>
		<string>Ydieresis.small</string>
		<string>Zcaron.small</string>
		<string>exclam.small</string>
		<string>question.small</string>
		<string>Eth.small</string>
		<string>Thorn.small</string>
		<string>questiondown.small</string>
		<string>exclamdown.small</string>
	</array>
	<key>subnum</key>
	<array>
		<string>zeroinferior</string>
		<string>oneinferior</string>
		<string>twoinferior</string>
		<string>threeinferior</string>
		<string>fourinferior</string>
		<string>fiveinferior</string>
		<string>sixinferior</string>
		<string>seveninferior</string>
		<string>eightinferior</string>
		<string>nineinferior</string>
	</array>
	<key>supnum</key>
	<array>
		<string>zerosuperior</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>foursuperior</string>
		<string>fivesuperior</string>
		<string>sixsuperior</string>
		<string>sevensuperior</string>
		<string>eightsuperior</string>
		<string>ninesuperior</string>
	</array>
	<key>tnum</key>
	<array>
		<string>zerolining</string>
		<string>onelining</string>
		<string>twolining</string>
		<string>threelining</string>
		<string>fourlining</string>
		<string>fivelining</string>
		<string>sixlining</string>
		<string>sevenlining</string>
		<string>eightlining</string>
		<string>ninelining</string>
	</array>
</dict>
</plist>
