<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>C</key>
		<integer>-10</integer>
		<key>G</key>
		<integer>-10</integer>
		<key>O</key>
		<integer>-10</integer>
		<key>Q</key>
		<integer>-10</integer>
		<key>S</key>
		<integer>-15</integer>
		<key>T</key>
		<integer>-55</integer>
		<key>U</key>
		<integer>-15</integer>
		<key>V</key>
		<integer>-45</integer>
		<key>V.small</key>
		<integer>-15</integer>
		<key>Y</key>
		<integer>-65</integer>
		<key>Y.small</key>
		<integer>-40</integer>
		<key>period</key>
		<integer>20</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>y</key>
		<integer>-30</integer>
	</dict>
	<key>A.small</key>
	<dict>
		<key>T.small</key>
		<integer>-50</integer>
		<key>V.small</key>
		<integer>-40</integer>
		<key>Y</key>
		<integer>-75</integer>
		<key>Y.small</key>
		<integer>-60</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>V</key>
		<integer>-15</integer>
		<key>Y</key>
		<integer>-25</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>T</key>
		<integer>10</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>A</key>
		<integer>-10</integer>
		<key>T</key>
		<integer>0</integer>
		<key>V</key>
		<integer>-25</integer>
		<key>X</key>
		<integer>-15</integer>
		<key>Y</key>
		<integer>-25</integer>
	</dict>
	<key>D.small</key>
	<dict>
		<key>T.small</key>
		<integer>-10</integer>
		<key>Y.small</key>
		<integer>-25</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>A</key>
		<integer>-35</integer>
		<key>AE</key>
		<integer>-55</integer>
		<key>A.small</key>
		<integer>-30</integer>
		<key>J</key>
		<integer>-80</integer>
		<key>J.small</key>
		<integer>-80</integer>
		<key>a</key>
		<integer>-30</integer>
		<key>c</key>
		<integer>-25</integer>
		<key>e</key>
		<integer>-25</integer>
		<key>g</key>
		<integer>-30</integer>
		<key>g.alt</key>
		<integer>-25</integer>
		<key>iacute</key>
		<integer>-15</integer>
		<key>o</key>
		<integer>-25</integer>
		<key>s</key>
		<integer>-30</integer>
	</dict>
	<key>F.small</key>
	<dict>
		<key>AE.small</key>
		<integer>-20</integer>
		<key>A.small</key>
		<integer>-20</integer>
		<key>J.small</key>
		<integer>-15</integer>
		<key>period</key>
		<integer>-60</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>A</key>
		<integer>-10</integer>
		<key>T</key>
		<integer>-10</integer>
		<key>V</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-15</integer>
		<key>Y</key>
		<integer>-30</integer>
	</dict>
	<key>G.small</key>
	<dict>
		<key>T.small</key>
		<integer>-10</integer>
		<key>Y.small</key>
		<integer>-25</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>A</key>
		<integer>0</integer>
		<key>C</key>
		<integer>-15</integer>
		<key>G</key>
		<integer>-15</integer>
		<key>O</key>
		<integer>-15</integer>
		<key>OE</key>
		<integer>-15</integer>
		<key>Q</key>
		<integer>-15</integer>
	</dict>
	<key>K.small</key>
	<dict>
		<key>C.small</key>
		<integer>-20</integer>
		<key>G.small</key>
		<integer>-20</integer>
		<key>O.small</key>
		<integer>-20</integer>
		<key>Q.small</key>
		<integer>-20</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>T</key>
		<integer>-85</integer>
		<key>V</key>
		<integer>-65</integer>
		<key>Y</key>
		<integer>-90</integer>
		<key>Y.small</key>
		<integer>-40</integer>
		<key>v</key>
		<integer>-20</integer>
	</dict>
	<key>L.small</key>
	<dict>
		<key>T.small</key>
		<integer>-75</integer>
		<key>V.small</key>
		<integer>-35</integer>
		<key>Y.small</key>
		<integer>-65</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>A</key>
		<integer>-10</integer>
		<key>T</key>
		<integer>0</integer>
		<key>V</key>
		<integer>-25</integer>
		<key>X</key>
		<integer>-15</integer>
		<key>Y</key>
		<integer>-20</integer>
	</dict>
	<key>O.small</key>
	<dict>
		<key>T.small</key>
		<integer>-10</integer>
		<key>V.small</key>
		<integer>-20</integer>
		<key>Y.small</key>
		<integer>-25</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
		<key>AE</key>
		<integer>-80</integer>
		<key>A.small</key>
		<integer>-30</integer>
		<key>J</key>
		<integer>-80</integer>
		<key>J.small</key>
		<integer>-80</integer>
		<key>a</key>
		<integer>-30</integer>
		<key>e</key>
		<integer>-30</integer>
		<key>f</key>
		<integer>20</integer>
		<key>g</key>
		<integer>-30</integer>
		<key>g.alt</key>
		<integer>-30</integer>
		<key>o</key>
		<integer>-30</integer>
		<key>period</key>
		<integer>-105</integer>
		<key>q</key>
		<integer>-30</integer>
		<key>t</key>
		<integer>25</integer>
		<key>v</key>
		<integer>20</integer>
		<key>x</key>
		<integer>15</integer>
		<key>y</key>
		<integer>15</integer>
	</dict>
	<key>P.small</key>
	<dict>
		<key>A.small</key>
		<integer>-25</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>A</key>
		<integer>25</integer>
		<key>T</key>
		<integer>0</integer>
		<key>V</key>
		<integer>-15</integer>
		<key>Y</key>
		<integer>-40</integer>
		<key>a</key>
		<integer>15</integer>
		<key>period</key>
		<integer>20</integer>
	</dict>
	<key>Q.small</key>
	<dict>
		<key>T.small</key>
		<integer>-20</integer>
		<key>V.small</key>
		<integer>-20</integer>
		<key>Y.small</key>
		<integer>-50</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>A</key>
		<integer>0</integer>
		<key>V</key>
		<integer>-15</integer>
		<key>Y</key>
		<integer>-20</integer>
		<key>hyphen</key>
		<integer>-30</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>A</key>
		<integer>-15</integer>
		<key>T</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>-15</integer>
		<key>Y</key>
		<integer>-25</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-50</integer>
		<key>AE</key>
		<integer>-80</integer>
		<key>A.small</key>
		<integer>-55</integer>
		<key>B.small</key>
		<integer>-55</integer>
		<key>C</key>
		<integer>0</integer>
		<key>C.small</key>
		<integer>-55</integer>
		<key>D.small</key>
		<integer>-55</integer>
		<key>E.small</key>
		<integer>-55</integer>
		<key>F.small</key>
		<integer>-55</integer>
		<key>G</key>
		<integer>0</integer>
		<key>G.small</key>
		<integer>-55</integer>
		<key>H.small</key>
		<integer>-55</integer>
		<key>I.small</key>
		<integer>-5</integer>
		<key>J</key>
		<integer>-95</integer>
		<key>J.small</key>
		<integer>-85</integer>
		<key>K.small</key>
		<integer>-55</integer>
		<key>L.small</key>
		<integer>-55</integer>
		<key>M.small</key>
		<integer>-55</integer>
		<key>N.small</key>
		<integer>-55</integer>
		<key>O</key>
		<integer>0</integer>
		<key>OE</key>
		<integer>0</integer>
		<key>O.small</key>
		<integer>-55</integer>
		<key>P.small</key>
		<integer>-55</integer>
		<key>Q</key>
		<integer>0</integer>
		<key>Q.small</key>
		<integer>-55</integer>
		<key>R.small</key>
		<integer>-55</integer>
		<key>S</key>
		<integer>-15</integer>
		<key>S.small</key>
		<integer>-55</integer>
		<key>T</key>
		<integer>25</integer>
		<key>T.small</key>
		<integer>-30</integer>
		<key>U.small</key>
		<integer>-55</integer>
		<key>V.small</key>
		<integer>-55</integer>
		<key>W.small</key>
		<integer>-55</integer>
		<key>X.small</key>
		<integer>-55</integer>
		<key>Y</key>
		<integer>-75</integer>
		<key>Y.small</key>
		<integer>-55</integer>
		<key>Z.small</key>
		<integer>-55</integer>
		<key>a</key>
		<integer>-75</integer>
		<key>ae</key>
		<integer>-75</integer>
		<key>c</key>
		<integer>-75</integer>
		<key>d</key>
		<integer>-75</integer>
		<key>dotlessi</key>
		<integer>-40</integer>
		<key>e</key>
		<integer>-105</integer>
		<key>g</key>
		<integer>-75</integer>
		<key>g.alt</key>
		<integer>-105</integer>
		<key>i</key>
		<integer>0</integer>
		<key>icircumflex</key>
		<integer>5</integer>
		<key>idieresis</key>
		<integer>5</integer>
		<key>igrave</key>
		<integer>5</integer>
		<key>m</key>
		<integer>-60</integer>
		<key>n</key>
		<integer>-60</integer>
		<key>o</key>
		<integer>-75</integer>
		<key>p</key>
		<integer>-60</integer>
		<key>period</key>
		<integer>-30</integer>
		<key>q</key>
		<integer>-75</integer>
		<key>r</key>
		<integer>-60</integer>
		<key>s</key>
		<integer>-75</integer>
		<key>u</key>
		<integer>-75</integer>
		<key>v</key>
		<integer>-50</integer>
		<key>x</key>
		<integer>-60</integer>
		<key>z</key>
		<integer>-60</integer>
	</dict>
	<key>Thorn</key>
	<dict>
		<key>AE</key>
		<integer>-30</integer>
		<key>T</key>
		<integer>-30</integer>
		<key>V</key>
		<integer>-15</integer>
		<key>Y</key>
		<integer>-25</integer>
		<key>v</key>
		<integer>10</integer>
	</dict>
	<key>T.small</key>
	<dict>
		<key>AE.small</key>
		<integer>-55</integer>
		<key>A.small</key>
		<integer>-50</integer>
		<key>C.small</key>
		<integer>-10</integer>
		<key>G.small</key>
		<integer>-10</integer>
		<key>J.small</key>
		<integer>-80</integer>
		<key>OE.small</key>
		<integer>-10</integer>
		<key>O.small</key>
		<integer>-10</integer>
		<key>Q.small</key>
		<integer>-10</integer>
		<key>period</key>
		<integer>-60</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-45</integer>
		<key>AE</key>
		<integer>-55</integer>
		<key>A.small</key>
		<integer>-30</integer>
		<key>C</key>
		<integer>-25</integer>
		<key>G</key>
		<integer>-25</integer>
		<key>J</key>
		<integer>-55</integer>
		<key>O</key>
		<integer>-25</integer>
		<key>Q</key>
		<integer>-25</integer>
		<key>S</key>
		<integer>-15</integer>
		<key>a</key>
		<integer>-55</integer>
		<key>ae</key>
		<integer>-40</integer>
		<key>c</key>
		<integer>-55</integer>
		<key>d</key>
		<integer>-55</integer>
		<key>e</key>
		<integer>-70</integer>
		<key>g</key>
		<integer>-65</integer>
		<key>g.alt</key>
		<integer>-55</integer>
		<key>i</key>
		<integer>-25</integer>
		<key>icircumflex</key>
		<integer>10</integer>
		<key>idieresis</key>
		<integer>20</integer>
		<key>igrave</key>
		<integer>20</integer>
		<key>o</key>
		<integer>-55</integer>
		<key>period</key>
		<integer>-30</integer>
		<key>q</key>
		<integer>-45</integer>
		<key>s</key>
		<integer>-70</integer>
		<key>u</key>
		<integer>-55</integer>
		<key>x</key>
		<integer>-25</integer>
		<key>z</key>
		<integer>-45</integer>
	</dict>
	<key>V.small</key>
	<dict>
		<key>A.small</key>
		<integer>-40</integer>
		<key>C.small</key>
		<integer>-20</integer>
		<key>G.small</key>
		<integer>-20</integer>
		<key>J.small</key>
		<integer>-55</integer>
		<key>O.small</key>
		<integer>-20</integer>
		<key>Q.small</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-40</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>C</key>
		<integer>-15</integer>
		<key>G</key>
		<integer>-15</integer>
		<key>O</key>
		<integer>-15</integer>
		<key>OE</key>
		<integer>-15</integer>
		<key>Q</key>
		<integer>-15</integer>
		<key>v</key>
		<integer>-30</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>A</key>
		<integer>-65</integer>
		<key>AE</key>
		<integer>-80</integer>
		<key>A.small</key>
		<integer>-75</integer>
		<key>B.small</key>
		<integer>-30</integer>
		<key>C</key>
		<integer>-20</integer>
		<key>C.small</key>
		<integer>-30</integer>
		<key>D.small</key>
		<integer>-30</integer>
		<key>E.small</key>
		<integer>-30</integer>
		<key>F.small</key>
		<integer>-30</integer>
		<key>G</key>
		<integer>-20</integer>
		<key>G.small</key>
		<integer>-30</integer>
		<key>H.small</key>
		<integer>-30</integer>
		<key>J</key>
		<integer>-100</integer>
		<key>J.small</key>
		<integer>-80</integer>
		<key>K.small</key>
		<integer>-30</integer>
		<key>L.small</key>
		<integer>-30</integer>
		<key>M.small</key>
		<integer>-30</integer>
		<key>N.small</key>
		<integer>-30</integer>
		<key>O</key>
		<integer>-20</integer>
		<key>OE</key>
		<integer>-25</integer>
		<key>O.small</key>
		<integer>-30</integer>
		<key>P.small</key>
		<integer>-30</integer>
		<key>Q</key>
		<integer>-20</integer>
		<key>Q.small</key>
		<integer>-30</integer>
		<key>R.small</key>
		<integer>-30</integer>
		<key>S</key>
		<integer>-25</integer>
		<key>S.small</key>
		<integer>-30</integer>
		<key>T</key>
		<integer>-75</integer>
		<key>a</key>
		<integer>-80</integer>
		<key>c</key>
		<integer>-80</integer>
		<key>d</key>
		<integer>-65</integer>
		<key>e</key>
		<integer>-80</integer>
		<key>g</key>
		<integer>-80</integer>
		<key>g.alt</key>
		<integer>-80</integer>
		<key>hyphen</key>
		<integer>-55</integer>
		<key>i</key>
		<integer>-15</integer>
		<key>icircumflex</key>
		<integer>20</integer>
		<key>idieresis</key>
		<integer>20</integer>
		<key>igrave</key>
		<integer>20</integer>
		<key>m</key>
		<integer>-55</integer>
		<key>n</key>
		<integer>-55</integer>
		<key>o</key>
		<integer>-80</integer>
		<key>period</key>
		<integer>-55</integer>
		<key>q</key>
		<integer>-55</integer>
		<key>r</key>
		<integer>-30</integer>
		<key>s</key>
		<integer>-80</integer>
		<key>u</key>
		<integer>-55</integer>
		<key>v</key>
		<integer>-30</integer>
		<key>x</key>
		<integer>-55</integer>
		<key>z</key>
		<integer>-55</integer>
	</dict>
	<key>Y.small</key>
	<dict>
		<key>A.small</key>
		<integer>-60</integer>
		<key>C.small</key>
		<integer>-25</integer>
		<key>G.small</key>
		<integer>-25</integer>
		<key>J.small</key>
		<integer>-80</integer>
		<key>O.small</key>
		<integer>-25</integer>
		<key>Q.small</key>
		<integer>-25</integer>
		<key>period</key>
		<integer>-80</integer>
	</dict>
	<key>Z</key>
	<dict>
		<key>Y.small</key>
		<integer>-30</integer>
		<key>v</key>
		<integer>-30</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>T</key>
		<integer>-75</integer>
		<key>V</key>
		<integer>-50</integer>
		<key>Y</key>
		<integer>-40</integer>
		<key>v</key>
		<integer>-20</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>T</key>
		<integer>-75</integer>
		<key>V</key>
		<integer>-50</integer>
		<key>Y</key>
		<integer>-45</integer>
		<key>x</key>
		<integer>-20</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>T</key>
		<integer>-60</integer>
		<key>Y</key>
		<integer>-35</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>T</key>
		<integer>-55</integer>
		<key>V</key>
		<integer>-35</integer>
		<key>Y</key>
		<integer>-35</integer>
		<key>x</key>
		<integer>-20</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>adieresis</key>
		<integer>25</integer>
		<key>adieresis.alt</key>
		<integer>15</integer>
		<key>atilde</key>
		<integer>15</integer>
		<key>atilde.alt</key>
		<integer>5</integer>
		<key>braceright</key>
		<integer>40</integer>
		<key>bracketright</key>
		<integer>40</integer>
		<key>edieresis</key>
		<integer>-5</integer>
		<key>eth</key>
		<integer>5</integer>
		<key>odieresis</key>
		<integer>15</integer>
		<key>parenright</key>
		<integer>40</integer>
		<key>scaron</key>
		<integer>15</integer>
		<key>udieresis</key>
		<integer>15</integer>
		<key>ydieresis</key>
		<integer>40</integer>
		<key>zcaron</key>
		<integer>15</integer>
	</dict>
	<key>four</key>
	<dict>
		<key>seven</key>
		<integer>-20</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>T</key>
		<integer>-55</integer>
	</dict>
	<key>g.alt</key>
	<dict>
		<key>T</key>
		<integer>-60</integer>
		<key>V</key>
		<integer>-35</integer>
		<key>Y</key>
		<integer>-35</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>T</key>
		<integer>-60</integer>
		<key>V</key>
		<integer>-50</integer>
		<key>Y</key>
		<integer>-45</integer>
	</dict>
	<key>hyphen</key>
	<dict>
		<key>Y</key>
		<integer>-60</integer>
	</dict>
	<key>i</key>
	<dict>
		<key>T</key>
		<integer>-35</integer>
		<key>y</key>
		<integer>-15</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>T</key>
		<integer>-55</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>y</key>
		<integer>-15</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>T</key>
		<integer>-60</integer>
		<key>V</key>
		<integer>-50</integer>
		<key>Y</key>
		<integer>-45</integer>
	</dict>
	<key>n</key>
	<dict>
		<key>T</key>
		<integer>-60</integer>
		<key>V</key>
		<integer>-50</integer>
		<key>Y</key>
		<integer>-45</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>T</key>
		<integer>-75</integer>
		<key>V</key>
		<integer>-50</integer>
		<key>Y</key>
		<integer>-60</integer>
		<key>x</key>
		<integer>-25</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>T</key>
		<integer>-75</integer>
		<key>V</key>
		<integer>-50</integer>
		<key>Y</key>
		<integer>-35</integer>
		<key>x</key>
		<integer>-20</integer>
	</dict>
	<key>period</key>
	<dict>
		<key>A</key>
		<integer>15</integer>
		<key>T</key>
		<integer>-35</integer>
		<key>T.small</key>
		<integer>-60</integer>
		<key>V</key>
		<integer>-35</integer>
		<key>V.small</key>
		<integer>-40</integer>
		<key>Y</key>
		<integer>-60</integer>
		<key>Y.small</key>
		<integer>-80</integer>
	</dict>
	<key>q</key>
	<dict>
		<key>T</key>
		<integer>-60</integer>
		<key>V</key>
		<integer>-35</integer>
		<key>Y</key>
		<integer>-35</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>T</key>
		<integer>-35</integer>
		<key>a</key>
		<integer>-15</integer>
		<key>ae</key>
		<integer>-15</integer>
		<key>f</key>
		<integer>5</integer>
		<key>m</key>
		<integer>20</integer>
		<key>n</key>
		<integer>20</integer>
		<key>p</key>
		<integer>20</integer>
		<key>period</key>
		<integer>-85</integer>
		<key>r</key>
		<integer>20</integer>
		<key>t</key>
		<integer>25</integer>
		<key>v</key>
		<integer>15</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>T</key>
		<integer>-60</integer>
		<key>V</key>
		<integer>-50</integer>
		<key>Y</key>
		<integer>-45</integer>
		<key>x</key>
		<integer>-25</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>four</key>
		<integer>-47</integer>
	</dict>
	<key>sevenprop</key>
	<dict>
		<key>colon</key>
		<integer>-35</integer>
		<key>fourprop</key>
		<integer>-50</integer>
		<key>period</key>
		<integer>-85</integer>
		<key>semicolon</key>
		<integer>-35</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>x</key>
		<integer>25</integer>
	</dict>
	<key>twoprop</key>
	<dict>
		<key>fourprop</key>
		<integer>-30</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>T</key>
		<integer>-75</integer>
		<key>V</key>
		<integer>-45</integer>
		<key>Y</key>
		<integer>-45</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>T</key>
		<integer>-70</integer>
		<key>a</key>
		<integer>-10</integer>
		<key>g</key>
		<integer>-15</integer>
		<key>period</key>
		<integer>-60</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>T</key>
		<integer>-75</integer>
		<key>c</key>
		<integer>-15</integer>
		<key>d</key>
		<integer>-15</integer>
		<key>e</key>
		<integer>-15</integer>
		<key>eth</key>
		<integer>-20</integer>
		<key>g.alt</key>
		<integer>-10</integer>
		<key>i</key>
		<integer>-15</integer>
		<key>o</key>
		<integer>-15</integer>
		<key>q</key>
		<integer>-15</integer>
		<key>s</key>
		<integer>-25</integer>
		<key>u</key>
		<integer>-15</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>a</key>
		<integer>-20</integer>
		<key>ae</key>
		<integer>-20</integer>
		<key>g</key>
		<integer>-25</integer>
		<key>m</key>
		<integer>10</integer>
		<key>n</key>
		<integer>10</integer>
		<key>p</key>
		<integer>10</integer>
		<key>r</key>
		<integer>10</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>T</key>
		<integer>-75</integer>
		<key>Y</key>
		<integer>-35</integer>
	</dict>
</dict>
</plist>
